.container{
    background-color: var(--color-bg);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .loginBox{
        background-color: var(--color-box-login);
        border-radius: 10px;
        width: 500px;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .contentsWrapper{
            width: 300px;
            display: flex;
            flex-direction: column;
            .logoWrapper{
                height: 100px;
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 50px;
                .logo{
                    height: 100%;
                    width: auto;
                    object-fit: contain;
                }
            }
            .loginInputWrapper{
                width: 100%;
                margin-bottom: 5px;
                .loginInput{
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid #3c3b3e;
                    padding: 12px 0;
                    font-size: 18px;
                    color: var(--color-text);
                    outline: none;
                    font-weight: 500;
                    &::placeholder{
                        color: #cbcbcb;
                    }
                }
            }
            .submitButton{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 40px;
                background-color: #4f86f0;
                font-weight: bold;
                font-size: 16px;
                color: #ffffff;
                border-radius: 10px;
                cursor: pointer;
                margin: 10px 0;
            }
            .googleButton{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 40px;
                background-color: var(--color-text);
                font-weight: bold;
                font-size: 16px;
                color: var(--color-bg4);
                border-radius: 10px;
                cursor: pointer;
                margin-bottom: 10px;
                .googleIcon{
                    height: 24px;
                    width: auto;
                    margin-right: 10px;
                }
            }
            .signUp{
                margin-top: 5px;
                color: var(--color-text-secondary);
                .signUpLink{
                    text-decoration: none;
                    color: var(--color-text);
                    font-weight: bold;
                }
            }
        }
    }
}