.container{
    display: flex;
    padding: 30px;
    height: calc(100% - 60px);
    width: calc(100% - 60px);
    .cardWrapper{
        width: 260px;
        height: 100%;
        margin-right: 30px;
        .searchCardWrapper{
            width: 100%;
            height: calc(100% - 190px);
            background-color: var(--color-bg2);
            .searchInputBox{
                width: calc(100% - 30px);
                .searchInput{
                    margin: 15px;
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    color: var(--color-text);
                    background-color: var(--color-bg3);
                    box-sizing: border-box;
                    padding: 10px;
                    &::placeholder{
                        color: var(--color-text-secondary);
                    }
                }
            }
        }
    }
    .chartWrapper{
        width: calc(100% - 580px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
}