.layout{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: rows;
    background-color: var(--color-bg);
    .children{
        height: 100%;
        width: calc(100% - 260px);
    }
}
